process {

    withName: 'BLAST_MAKEBLASTDB' {
        ext.args   = { [
            "-dbtype nucl"
            ].join(" ").trim()
        }
    }

    withName: 'BLAST_BLASTN' {
        cpus = 2
        memory = 4.GB
        time = 16.h
        ext.args   = { [
            "-task megablast",
            "-outfmt '6 qseqid sseqid pident length mismatch gapopen qstart qend sstart send qlen slen evalue bitscore'",
            "-max_target_seqs 2"
            ].join(" ").trim()
        }
    }

    withName: 'CHIMERADETECTOR:BLAST_AGAINST_TARGET:MERGE_HITS' {
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/blastn/against_target/" },
            mode: 'copy'
        ]
    }

     withName: 'CHIMERADETECTOR:BLAST_AGAINST_GENOMES:BLASTN' {
        ext.prefix = { "${meta.id}.against_genome" }
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/blastn/against_genomes/" },
            mode: 'copy'
        ]
    }

}

