process {

    withName: 'FIND_CHIMERAS' {
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/chimeras/${meta.family}/txid${meta.taxid}/" },
            mode: 'copy'
        ]
    }

    withName: 'GET_CHIMERA_READ_COVERAGE' {
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/chimera_coverage/${meta.family}/txid${meta.taxid}/" },
            mode: 'copy'
        ]
    }

}
