process {

    withName: 'MULTIQC' {
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/multiqc/" },
            mode: 'copy'
        ]
    }

    withName: 'PREPARE_DOWNLOADED_GENOME_SIZE' {
        ext.prefix = { "downloaded_genome_size" }
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/assemblies/" },
            mode: 'copy'
        ]
    }

    withName: 'PREPARE_ASSEMBLED_GENOME_SIZE' {
        ext.prefix = { "assembled_genome_size" }
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/assemblies/" },
            mode: 'copy'
        ]
    }

    withName: 'PREPARE_BLAST_HIT_TARGET' {
        ext.prefix = { "blast_hits_against_target" }
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/blastn/" },
            mode: 'copy'
        ]
    }

    withName: 'PREPARE_BLAST_HIT_GENOMES' {
        ext.prefix = { "blast_hits_against_genomes" }
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/blastn/" },
            mode: 'copy'
        ]
    }

}

