/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-chimera-detector Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/
executor {
    name = 'local'
    cpus = 24
    memory = 150.GB
}

process {

    cpus   = { 1      * task.attempt }
    memory = { 6.GB   * task.attempt }
    time   = { 4.h    * task.attempt }

    errorStrategy = {
        if (task.exitStatus in (100..101)) { // managed errors; they should not be retried
            'ignore'
        } else if (task.attempt <= 5) { // all other errors should be retried with exponential backoff
            sleep(Math.pow(2, task.attempt) * 200 as long)
            return 'retry'
        } else { // after 5 retries, ignore the error
            return 'ignore'
        }
    }
    maxRetries = 5
    maxErrors  = '-1'
    maxForks = 4

    withLabel:process_single {
        cpus   = { 1                   }
        memory = { 2.GB * task.attempt }
        time   = { 4.h  * task.attempt }
    }
    withLabel:process_low {
        cpus   = { 2                   }
        memory = { 4.GB * task.attempt }
        time   = { 4.h  * task.attempt }
    }
    withLabel:process_medium {
        cpus   = { 4      }
        memory = { 8.GB * task.attempt }
        time   = { 8.h  * task.attempt }
    }
    withLabel:process_high {
        cpus   = { 8     }
        memory = { 16.GB * task.attempt }
        time   = { 16.h  * task.attempt }
    }
    withLabel:process_high_memory {
        cpus   = { 4                   }
        memory = { 16.GB * task.attempt }
        time   = { 24.h  * task.attempt }
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
    withLabel: process_gpu {
        ext.use_gpu = { workflow.profile.contains('gpu') }
    }
}
