profiles {
    ifb {
        executor {
            name = 'slurm'
            queue = "fast"
            queueSize = 50 // see https://seqera.io/blog/5_tips_for_hpc_users/
            submitRateLimit = '10 sec' // see https://seqera.io/blog/5_tips_for_hpc_users/
            cpus = 64
            memory = 400.GB
            time = 200.h
        }

        process {

            withLabel:process_single {
                cpus   = { 1                   }
                memory = { 2.GB * task.attempt }
                time   = { 4.h  * task.attempt }
            }
            withLabel:process_low {
                cpus   = { 2     * task.attempt }
                memory = { 4.GB * task.attempt }
                time   = { 4.h   * task.attempt }
            }
            withLabel:process_medium {
                cpus   = { 4     * task.attempt }
                memory = { 8.GB * task.attempt }
                time   = { 8.h   * task.attempt }
            }
            withLabel:process_high {
                cpus   = { 8    * task.attempt }
                memory = { 16.GB * task.attempt }
                time   = { 16.h  * task.attempt }
            }
        }
    }
}
