profiles {
    ifb {
        executor {
            name = 'slurm'
            cpus = 64
            memory = 400.GB
            time = 200.h
        }

        process {
            resourceLimits = [
                    cpus: 32,
                    memory: 200.GB
            ]
        }

        withLabel:process_single {
            queue = "fast"
        }
        withLabel:process_low {
            queue = "fast"
        }
        withLabel:process_medium {
            queue = "fast"
        }
        withLabel:process_high {
            queue = "fast"
        }
    }
}
