profiles {
    lug {
        executor {
            name = 'local'
            cpus = 24
            memory = 300.GB
            time = 200.h
        }

        process {

            errorStrategy = {
                if (task.exitStatus in (100..101)) { // managed errors; they should not be retried
                    'ignore'
                } else if (task.attempt <= 5) { // all other errors should be retried with exponential backoff
                    sleep(Math.pow(2, task.attempt) * 200 as long)
                    return 'retry'
                } else { // after 5 retries, ignore the error
                    return 'ignore'
                }
            }
            maxRetries = 5
            maxErrors  = '-1'
            maxForks = 4

            withLabel:process_single {
                cpus   = { 1                   }
                memory = { 2.GB * task.attempt }
                time   = { 4.h  * task.attempt }
            }
            withLabel:process_low {
                cpus   = { 2     * task.attempt }
                memory = { 4.GB * task.attempt }
                time   = { 4.h   * task.attempt }
            }
            withLabel:process_medium {
                cpus   = { 4     * task.attempt }
                memory = { 8.GB * task.attempt }
                time   = { 8.h   * task.attempt }
            }
            withLabel:process_high {
                cpus   = { 8    * task.attempt }
                memory = { 16.GB * task.attempt }
                time   = { 16.h  * task.attempt }
            }
        }
    }
}
