profiles {
    lug {
        executor {
            name = 'local'
            cpus = 12
            memory = 200.GB
            time = 200.h
        }

        process {

            errorStrategy = { task.exitStatus in ((130..145) + 104 + 175) ? 'retry' : 'finish' }
            maxRetries    = 1
            maxErrors     = '-1'

            withLabel:process_single {
                cpus   = { 1                   }
                memory = { 2.GB * task.attempt }
                time   = { 4.h  * task.attempt }
            }
            withLabel:process_low {
                cpus   = { 2     * task.attempt }
                memory = { 4.GB * task.attempt }
                time   = { 4.h   * task.attempt }
            }
            withLabel:process_medium {
                cpus   = { 4     * task.attempt }
                memory = { 8.GB * task.attempt }
                time   = { 8.h   * task.attempt }
            }
            withLabel:process_high {
                cpus   = { 8    * task.attempt }
                memory = { 16.GB * task.attempt }
                time   = { 16.h  * task.attempt }
            }
        }
    }
}
