params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    families  = "${projectDir}/tests/test_data/virus_test.txt"
    outdir = './results/test/'
    restrict_to_srrs = 'DRX499269'
    ignore_sra_registry = true
    target_db = "${projectDir}/tests/test_data/databases/TEs_for_DRX499269.fasta"
}
