params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    families  = "${projectDir}/tests/test_data/virus_families_assemblies_available.txt"
    outdir = './results/test_download_assembly/'
    max_srrs_per_taxid = 1
    ignore_sra_registry = true
}
