params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset that should detect chimeras to check pipeline function'

    //families  = "${projectDir}/tests/test_data/virus_test.txt"
    //restrict_to_srxs = 'DRX499269,SRX6949975'
    fastq = "${projectDir}/tests/test_data/reads/samplesheet.yaml"
    outdir = './results/test_fastq/'
    ignore_sra_registry = true
    target_db = "${projectDir}/tests/test_data/databases/TEs_for_DRX499269_and_DRR515383.fasta"
}
