params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    family_file  = "${projectDir}/tests/test_data/virus_families_no_assemblies.txt"
    outdir = './results/test_make_assembly/'
    max_srrs_per_taxid = 1
    ignore_sra_registry = true
}
