params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    families  = 'tests/test_data/virus_test.txt'
    outdir = './results/test/'
    only_download_srrs = 'DRX499269'
    ignore_sra_registry = true
    target_db = 'tests/test_data/databases/TEs_for_DRX499269.fasta'
}
