params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    families  = 'tests/test_data/virus_small_srr.txt'
    outdir = './results/test_big_srr_with_chimeras/'
    only_download_srrs = 'SRX433054'
    ignore_sra_registry = true
}
