params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset that should detect chimeras to check pipeline function'

    families = "${projectDir}/tests/test_data/virus_test.txt"
    outdir = './results/test/'
    restrict_to_srxs = 'DRX499269,SRX6949975'
    ignore_sra_registry = true
    target_db = "${projectDir}/tests/test_data/databases/TEs_for_DRX499269_and_DRR515383.fasta"
    multiqc_title = "Report of run on 2 SRRs of very small size"
}
