params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    families  = 'tests/test_data/very_small_families.txt'
    outdir = './results/test_very_small_families/'
    ignore_sra_registry = true
    target_db = 'tests/test_data/databases/TEs_very_small_families.fa'
}
