params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset that should detect chimeras to check pipeline function'

    fastq = 'tests/test_data/reads/fastq.csv'
    outdir = './results/test_custom_fastq/'
    ignore_sra_registry = true
    target_db = 'tests/test_data/databases/TEs_for_DRX499269.fasta'
}

