params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    family_file  = "${projectDir}/tests/test_data/virus_small_srr.txt"
    outdir = './results/test_big_srr_with_chimeras/'
    restrict_to_srxs = 'SRX433054'
    ignore_sra_registry = true
}
