params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    families  = "Orthoherpesviridae"
    target_db = "${projectDir}/tests/test_data/databases/TEs_for_DRX499269_and_DRR515383.fasta"
    outdir = './results/test_download_ena/'
    restrict_to_srxs = "ERX5344616,ERX5344617"
    ignore_sra_registry = true
}
