params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    families  = "${projectDir}/tests/test_data/virus_prefetch.txt"
    outdir = './results/test_prefetch/'
    restrict_to_srxs = 'SRX7248200'
    ignore_sra_registry = true
}
