params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    families  = "Orthoherpesviridae"
    target_db = "${projectDir}/tests/test_data/databases/TEs_for_DRX499269_and_DRR515383.fasta"
    outdir = './results/test_download_ena/'

    restrict_to_taxids = "10372,10376"
    restrict_to_srxs = "ERX4183618,ERX15156804"
    ignore_sra_registry = true
}
